<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./header.css">
</head>
<body>
   <!-- HTML -->
<header class="main-header">
    <nav class="main-nav">
      <ul class="nav-list">
        <li><a href="index.html">Hello</a></li>
        <li><a href="Portfolio.html">Portfolio</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  
</body>
</html>